<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Add categorie</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-list>
      <ion-item>
        <ion-input  type="text" [(ngModel)]="categorie.name" placeholder="Name"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <input type="file"   [(ngModel)]="categorie.picture" (change)="chooseFile($event)" required>
      </ion-item>
     
      <ion-button  type="submit" expand="block" *ngIf="!idCategorie" (click)="saveCategorie()">
        save
      </ion-button>  
      <ion-button  type="submit" expand="block" *ngIf="idCategorie" (click)="updateCategerie()">
        Edit
      </ion-button> 
    </ion-list>
</ion-content>

